html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
}

ul.nav {
  list-style: none;
  padding: 1rem 0;
  margin: 1rem 0;
  background-color: #80808045;
}

ul.nav li {
  margin-right: 1rem;
  display: inline;
}
